.button {
  background-color: #ffff;
  border: 1px solid #000;
  border-radius: 1px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s linear;
  &.primary {
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    color: rgb(0, 0, 0);
    &:hover {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgb(255, 255, 255);
      color: rgb(255, 255, 255);
    }
  }
  &.secondary {
    background-color: rgb(0, 0, 0);
    border: 1px solid #000;
    color: rgb(255, 255, 255);
    &:hover {
      background-color: rgba(255, 255, 255, 0);
      color: rgb(0, 0, 0);
    }
  }
  &.small {
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
  }
  &.medium {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
  &.large {
    padding: 0.4rem 2rem;
    font-size: 1.2rem;
  }
}
