:root {
  --primary: #ffffff;
  --secondary: #000000;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: "gilroylight", sans-serif;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

html,
body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

h2 {
  font-family: "gilroyextrabold", sans-serif;
}

header {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
header .header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}
header .header nav {
  padding-top: 2rem;
}
header .header nav ul {
  display: flex;
  list-style: none;
}
header .header nav ul li {
  margin-right: 2rem;
}
header .header nav ul li:last-child {
  margin-right: 0;
}
header .header nav ul li a {
  position: relative;
  font-weight: 600;
}
header .header nav ul li a:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.5rem;
  background: #fff;
  height: 0.05rem;
  width: 100%;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header .header nav ul li a:hover:after {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 4.5rem 4rem 2rem 4rem;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 4.5rem 3rem 2rem 3rem;
  }
}
.footer .footer__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 800px) {
  .footer .footer__upper {
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }
}
.footer .footer__upper .logo__image__container {
  display: flex;
  justify-content: center;
  flex: 0.2;
}
.footer .footer__upper .terms__privacy {
  display: flex;
  flex: 0.5;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .footer .footer__upper .terms__privacy .terms__privacy__inner {
    text-align: center;
  }
}
.footer .footer__upper .terms__privacy .terms__privacy__inner li {
  font-size: 0.9rem;
}
.footer .footer__upper .terms__privacy .terms__privacy__inner li a:hover {
  opacity: 0.8;
}
.footer .footer__upper .newsletter__container {
  display: flex;
  flex: 1;
  justify-content: center;
}
.footer .footer__upper .newsletter__container .input__btn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.footer .footer__upper .newsletter__container .input__btn input {
  padding: 2px 5px;
  background: transparent;
  border: 1px solid #fff;
  border-right: 0;
  border-radius: 0;
  font-size: 0.9rem;
  flex: 1;
}
.footer .footer__upper .newsletter__container .input__btn input::-moz-placeholder {
  color: #fff;
}
.footer .footer__upper .newsletter__container .input__btn input:-ms-input-placeholder {
  color: #fff;
}
.footer .footer__upper .newsletter__container .input__btn input::placeholder {
  color: #fff;
}
.footer .footer__upper .newsletter__container .input__btn input:focus {
  outline: none;
}
.footer .footer__upper .newsletter__container .input__btn button {
  padding: 4px 8px;
  font-size: 0.8rem;
  font-weight: 700;
  outline: 0;
}
.footer .footer__upper .connect__withus {
  padding-left: 1rem;
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .footer .footer__upper .connect__withus {
    flex: 0.5;
  }
}
.footer .footer__upper .connect__withus .connect__withus__inner {
  padding-bottom: 35px;
}
.footer .footer__upper .connect__withus .connect__withus__inner p {
  font-size: 0.8rem;
  font-weight: 800;
}
.footer .footer__upper .connect__withus .social__icons {
  display: flex;
  gap: 0.5rem;
  padding-top: 10px;
}
.footer .footer__upper .connect__withus .social__icons a {
  font-size: 1.5rem;
  background: #fff;
  color: #000;
  border-radius: 4px;
  padding: 2px;
}
@media screen and (max-width: 800px) {
  .footer .footer__upper .connect__withus .social__icons {
    padding-top: 1rem;
    justify-content: center;
  }
}
.footer .footer__bottom {
  margin-top: 3.8rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .footer .footer__bottom {
    text-align: center;
  }
}

.container {
  width: 1228px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */